.cart-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .cart-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .cart-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .cart-items {
    flex: 3;
  }
  
  .cart-empty {
    font-size: 18px;
  }
  
  .cart-list {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  .cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .cart-item-details {
    flex-grow: 1;
  }
  
  .cart-item-title {
    font-size: 18px;
    margin: 0;
  }
  
  .cart-item-description {
    font-size: 14px;
    color: #666;
  }
  
  .cart-item-price {
    font-size: 16px;
    color: #333;
  }
  
  .cart-item-quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .cart-item-quantity button {
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .cart-item-quantity span {
    margin: 0 10px;
  }
  
  .cart-item-remove {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .price-details {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .price-details h3 {
    margin-top: 0;
  }
  
  .price-detail-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .checkout-button {
    background-color:#3d0c40;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
  }