body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 32px;
  background-color: #f0f0f0; /* Changed background color */
  color: #4A2F28; /* Darker brown color for text */
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.header-left {
  flex: 1;
}

.header-right {
  flex: 3;
  display: flex;
  justify-content: flex-end;
}

.logo-text {
  font-size: 1.8em; /* Reduced font size for the logo text */
  font-weight: bold;
  color: #4A2F28; /* Darker brown color for the logo text */
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #4A2F28; /* Darker brown color for the links */
  font-size: 1em; /* Reduced font size for the links */
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #C19A6B; /* Hover color remains the same */
}

.header-right .get-started-button {
  background-color: #FBB034;
  color: #fff;
  padding: 12px 24px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.header-right .get-started-button:hover {
  background-color: #d6912c;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-right {
    width: 100%;
    justify-content: flex-start;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    margin: 10px 0;
  }
}

.main-content {
  margin-top: 90px;
}
